header {
  padding: 20px 0;
  font-size: 24px;
  margin: 0 auto;
}

.wrap-data {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.wrap-data div{
  margin: 0 auto;
  width: 200px;
  height: 200px;
  margin: 20px;
}
