@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Pen+Script&family=Noto+Serif+KR:wght@500;700&display=swap');

body {
  font-family: 'Noto Serif KR', serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.txt-tit {
  font-family: 'Do Hyeon', sans-serif;
  display: block;
  position: relative;
  font-size: 40px;
  text-align: center;
  margin: 40px auto;
}

.txt-desc {
  font-size: 16px;
  margin: 12px 0;
}

.img-main {
  border-radius: 50%;
  margin: 20px 0;
}

.btn {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 30px;
  background:lightgray;
  color: black;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  margin: 30px;
  cursor: pointer;
}

select {
  cursor: pointer;
}

.page-info {
  display: none;
}

.page-info fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 50px auto;
}

.page-info fieldset input, select {
  text-align: center;
  border:1px solid silver;
  border-radius: 20px;;
  margin: 10px 0;
  width: 200px;
  padding: 2px;
}

select:invalid {
  color: gray;
}
option {
  color: black;
}

.page-test {
  display: none;
}

.status {
  margin: 30px auto;
  height: 15px;
  width: 80%;
  max-width: 500px;
  border-radius: 20px;
  border: 2px solid lightslategray;
  border-width: 100%;
  padding: 1px;
}

.bar-status {
  height: 100%;
  background: lightslategray;
  border-radius: 20px;
}

.box-question {
  width: 80%;
  max-width: 500px;
  padding: 10px 5px;
  margin: 30px auto;
  border-radius: 5px;
  background: whitesmoke;
  font-size: 14px;
}

.wrap-answer {
  display: flex;
  justify-content: center;
}

.btn-answer {
  font-family: 'Noto Serif KR', serif;
  font-size: 15px;
  margin: 0 5px;
  padding: 5px;
  width: 100px;
  border-radius: 10px;
  background: whitesmoke;
  cursor: pointer;
}

.page-result {
  display: none;
}

.res-type {
  font-size: 30px;
  display: block;
  position: relative;
  color: red;
  font-size: 24px;
  font-weight: 700;
}

.wrap-desc {
  display: block;
  margin-top: 80px;
}

.res-graph {
  font-family: 'Noto Serif KR', serif;
  font-size: 14px;
  display: block;
  position: relative;
  width: 350px;
  height: 300px;
  margin: 10px auto;
}

.top-legend ul{
  display: flex;
  justify-content: space-between;
}

#myChart {
  position: relative;
  width: 100%;
  height: 100%;
}

.bottom-legend ul {
  display: flex;
  justify-content: space-between;
}

.wrap-btn {
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 0 auto;
}

.wrap-res {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.res-desc {
  font-family: 'Noto Serif KR', serif;
  padding: 5px 10px;
  margin: 5px;
  font-size: 16px;
  line-height: 30px;
}

.res-desc:first-child {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 28px;
}

.res-desc:nth-child(5) {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 24px;
}

@media (hover: hover) { 
  .btn:hover {
    background: sandybrown;
  }
}